
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
footer {
    bottom: 0;
}

.copyright {
    padding: 17px 0;
    text-align: center;

   
}


.container {
    padding: 5%;
}